VITE_API_URL=
VITE_PADDLE_CLIENT_TOKEN=
VITE_GOOGLE_CLIENT_ID=

VITE_REVERB_APP_KEY=xqkhiqtb1pyevy1vmnnt
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8081

VITE_BROADCASTING_AUTH_URL=http://localhost:8096/api/broadcasting/auth